.file-container{
    border: 1px solid black;
    margin: 15px;
}
/* .file-item{
        margin-left: 0px;
        display: flex;
        background-color: lightgrey;
        max-width: 150px;
        display: flex;
        justify-content: space-between;
        width: 130px;
        padding: 4px;
        align-items: center;   
} */

.file-item{
    display: flex;
}
.folder-item{
    /* display: flex; */
    cursor: pointer;
}
.single-item{
    display: flex;
    padding: 5px;
    span{
        margin-right:5px;
    }
}
.edit-icon{
    margin-left: 5px;
    cursor: pointer;
}